.autora_vards {
    float: left;
    width: 80%;
}
.icons_to_use {
    float: right;
    width: 10%;
}

.container_autori {
    padding-bottom: 3rem;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.books-img {
    margin-top: 1.5rem;
    object-fit: cover;
    height: 27rem;
    width: 15rem;
}
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    margin-bottom: 4.5rem;
}
.books-price {
    margin-right: 0.5rem;
}
.books-author-text {
    font-style: italic;
    color: #4a5568;
    margin-right: 5px;
}
.books-price {
    cursor: not-allowed;
}
.books_btns {
    margin-right: 0.5rem;
}
.books-year {
    font-style: italic;
    color: #4a5568;
}
.button-group {
    display: flex;
}
.card-actions {
    position: absolute;
    bottom: 1rem;
}
.text-add-book {
    margin-top: 2rem;
}
.books-title {
    margin-bottom: 2rem;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

